/* Service Card Component */

.service-card {
    background-color: rgba(white, 0.9);
    padding: 4rem 0 4rem 0;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    transition: transform .3s;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
    transition: transform .4s;
    width: 200px;
    
    @include respond(tab-port) {
        padding: 1rem;
        margin: 0 4rem;
    }
    &__icon {
        font: normal normal normal 50px FontAwesome !important;
        margin-bottom: 0.5rem;
        margin-top:0.5rem;
        color: $color-2; 
        @include respond(tab-port) {
            margin-bottom: 0;
        }

    }
    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
    * {
        list-style: none;            
    }
}

