/* Base code */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    @include respond(tab-land) {
        font-size: 56.25%;
    }
    @include respond(tab-port) {
        font-size: 50%;
    }
    @include respond(big-desktop) {
        font-size: 75%;
    }
}

body {
    font-family: 'Lato', sans-serif;    
        //"Trebuchet MS", Helvetica, sans-serif; 
    font-weight: 300px;
    font-size: 17; 
    background-color: #F2F2F2;
    color: $color-2;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin: 0px;
    overflow-x: hidden; 

}

