/* Variables */

$color-1: #7d6fb4; 
$color-2: rgb(47, 78, 121); 

$grid-width: 70rem;
$gutter-vert: 4rem;
$gutter-vert-sm: 3rem;
$gutter-horiz: 5rem;

$font-size-1: 16px; 
$font-family-1: '"Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif';
$font-family-2: "Raleway";

$font-weight-1: 350;
$font-weight-2: 600;

$font-color-1: white;